<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Paul Lucas</h1>

        <h3>Contact Info:</h3>

        <a href="mailto:lucaspa@umich.edu" target="_blank">Email</a> |
        <a href="https://www.linkedin.com/pub/paul-lucas/5b/135/750" target="_blank">LinkedIn</a> |
        <a href="https://github.com/pauljlucas" target="_blank">GitHub</a>
        <br>
        <br>

        <h3>Navagation:</h3>
        <a href="/index.html">Home</a> |
        <a href="/resume.html">Resume</a> |
        <a href="/projects.html">Projects</a> |
        <a href="/hobbies.html">Hobbies</a>

        <br><br><br>
        <img src="/images/myself.jpg" alt="Paul Lucas">

    </header>
</div>
<div class="wrapper">

    <section>
        {{ content }}
    </section>

    <footer>
        <p>
            <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
            </small>
        </p>
    </footer>

</div>
<script src="javascripts/scale.fix.js"></script>

</body>
</html>
